<%- include("../partials/header", { title: "Home"}) %>
    <div class="home" style="text-align: center;">
        <h1>
            Hey,
            <%= user.username %>!
        </h1>
    </div>
    <%- include("../partials/footer") %>